<div class="body-div">

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <ul class="list-unstyled">
        <li><img class="profile-pic" src="<%= @user.gravatar_url %>"</li>
        <li><%= @user.username %>'s Profile</li>
        <li><%= @user.first_name%> <%=@user.last_name %></li>
        <% if current_user != @user %>
        <% if !current_user.friends.include?(@user) %>
        <form action="/bumblebee/friend_request" method="post">
          <input type="hidden" name="user_id" value="<%= @user.id %>">
          <input type="submit" value="send <%= @user.username %> a friend request"> 
        </form>
        <% else %>
        <li style="display:inline-block"><button class="btn btn-warning" type="button">Friends</button></li>
        <li style="display:inline-block"><form>
  <!-- <div class="form-group"> -->
    
  <button type="submit" class="btn btn-warning">Message</button>
</form></li>
        <% end %>
        <% else %>
        <a class="btn btn-warning" href="/bumblebee/user/profile/edit">edit profile</a>
        <% end %>
      </ul>


    </div>

  </div>






  <!-- <ul class=> -->
  <p><%= full_name(@user) + " (" + @user.username + ")" %>'s friends:</p>
  <div class="row col-md-8 col-md-offset-2">
    <% @user.friends.each do |friend|  %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail friend-thumbnail">
        <a href="/bumblebee/user/<%= friend.username %>"><img class="friend-pic" src="<%= friend.gravatar_url %>" alt="..."></a>
        <div class="caption">
          <h5 class="center-text"><%= full_name(friend) + " (" + friend.username + ")"%></h5>
          <% if current_user != @user %>
          <% if current_user.friends.include?(friend) || current_user == friend %>
          <p class="center-text"><a href="#" class="btn btn-primary" role="button">Friends</a></p>
          <% else %>
          <p class="center-text"><a href="#" class="btn btn-primary" role="button">Add Friend</a></p>
          <% end %>
          <% end %>
          <!--  <a href="#" class="btn btn-default" role="button">Button</a></p> -->
        </div>
      </div>
    </div>
    <% end %>
  </div>


  <div class="row col-md-8 col-md-offset-2">
    <p> test photos (not uploaded ones) </p>
    <div class="col-xs-6 col-md-4">
      <a href="#" class="thumbnail">
        <img src="/user_imgs/balloons.jpeg" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href="#" class="thumbnail">
        <img src="/user_imgs/balloons.jpeg" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href="#" class="thumbnail">
        <img src="/user_imgs/balloons.jpeg" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href="#" class="thumbnail">
        <img src="/user_imgs/balloons.jpeg" alt="...">
      </a>
    </div>  
  </div>

  <% @user.photos.each do |photo| %>
  <a href="/photo/<%= photo.id %>"><img src=<%= photo.link %> alt="an image"></a>
  <% end %>


  <% if current_user == @user %>
  <form action="/bumblebee/user/upload_photo" method="post">
    <input type="text" name="path" placeholder="local path to file">
    <input class="button small" type="submit" value="Upload Photo">
  </form>
  <% end %>

<!-- 
  <a href="/bumblebee/logout"><button type="button">Log Out</button></a> -->
</div>