<% if logged_in? %>
    <div class="icon-bar four-up" role="navigation">
      <a class="item" role="button" tabindex="0" aria-label="Home" href="/bumblebee/user/<%= current_user.username %>">
        <i class="fi-home"></i>
      </a>
      <a class="item" role="button" tabindex="0" aria-label="Information" href="/gallery">
        <i class="fi-camera"></i>
      </a>
      <a class="item" role="button" tabindex="0" aria-label="Messages">
        <i class="fi-comment-quotes"></i>
      </a>
      <a class="item" role="button" tabindex="0" aria-label="Logout" href="/bumblebee/logout">
        <i class="fi-foot"></i>
      </a>
    </div>
    <% end %>

<ul>
<li><%= @user.username %>'s Profile</li>
<li><%= @user.first_name%> <%=@user.last_name %></li>
<li>email: <%= @user.email %></li>
<li>phone: <%= @user.phone_number %></li>
</ul>

<% if current_user != @user %>
	<% if !current_user.friends.include?(@user) %>
		<form action="/bumblebee/friend_request" method="post">
		<textarea rows="8" cols="35" name="request_message" placeholder="Enter a message"></textarea>
		<input type="hidden" name="user_id" value="<%= @user.id %>">
		<input type="submit" value="send <%= @user.username %> a friend request"> 
		</form>
	<% else %>
		<button type="button">Friends &#9754;</button>
		<a href='/messages/new'><button type="button">send a message</button></a>
	<% end %>
<% end %>

<% if current_user == @user %>
	<a class="button small" href="/bumblebee/user/profile/edit">edit profile</a>
<% end %>


<ul>
<li><%= full_name(@user) + " (" + @user.username + ")" %>'s friends:</li>
<% @user.friends.each do |friend|  %>
	<a href="/bumblebee/user/<%= friend.username %>"><li><%= full_name(friend) + " (" + friend.username + ")"%></li></a>
<% end %>
</ul>

<% @user.photos.each do |photo| %>
<a href="/photo/<%= photo.id %>"><img src=<%= photo.link %> alt="an image"></a>
<% end %>


<% if current_user == @user %>
<form action="/bumblebee/user/upload_photo" method="post">
<input type="text" name="path" placeholder="local path to file">
<input class="button small" type="submit" value="Upload Photo">
</form>
<% end %>

<!-- 
<a href="/bumblebee/logout"><button type="button">Log Out</button></a> -->