<div class="body-div">
<form action="/photo/<%= @photo.id %>/edit" method="post">
<input type="hidden" name="_method" value="put">
<label>Location: </label>
<input type="text" name="location" value=<%= @photo.location %>>
<img src=<%= @photo.link %> alt="an image">
<label style="display:block">Caption: </label>
<input type="text" name="caption" value=<%= @photo.caption %>>
<input type="submit" value="Update photo">
</form>

<% if current_user == @user %>
	<a href="/photo/<%= @photo.id %>"><button>Cancel</button></a>
<% end %>
</div>