
<p>Location:<%= @photo.location %></p>
<img src=<%= @photo.link %> alt="an image">
<p>Uploaded by <%= @user.username %> <em><%= ((Time.now - @photo.created_at)/86400).round %> day(s) ago.</em><p>
<p>Caption:<%= @photo.caption %></p>

<% if current_user == @user %>
	<a href="/photo/<%= @photo.id %>/edit"><button>Edit Photo</button></a>
<% end %>
